@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column custom-nav-pills">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    </li>
</ul>

<style>
    .custom-nav-pills .nav-link.active {
        background-color: forestgreen;
        color: white;
    }
    .custom-nav-pills .nav-link {
        color: forestgreen;
    }
    .custom-nav-pills .nav-link:hover {
        background-color: #e6f2e6;
        color: forestgreen;
    }
</style>
